*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    margin-bottom: 10px;
}

.navbar{
    position: sticky;
    top: 0%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 4px;
    padding: 8px;
    border-bottom:1px solid black ;
    background-color: white;
}

.navbar__logo{
    color: rgb(179, 97, 255);
}

.navbar__searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 40px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 8px;
    gap: 4px;
}

.navbar__searchbar input{
    border: none;
    width: 100%;
}
.navbar__searchbar input:focus{
    outline: none;
}

.nabar__s3{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.my-learning{
    position: relative;
}
.my-learning__popup{
    position: absolute;
    top: 150%;
    right: 0%;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    display: none;
}
.my-learning{
    cursor: pointer;
}

.my-learning:hover .my-learning__popup{
    display: block;
}
.fa-bell{
    position: relative;
}
.msg{
    position: absolute;
    top: -5px;
    right: -7px;
    padding: 3px;
    font-size: 8px;
    border-radius: 20px;
    background-color: red;
    color: white;
}

.categories{
    display: flex;
    justify-content: space-around;
    padding: 8px;
    /* border-bottom: 1px solid black; */
}
.categories p{
    background-color: blueviolet;
    color: white;
    padding: 8px 12px;
    border-radius: 30px;
  transition: transform .2s; /* Animation */
}
.categories p:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* .landing-page{
    display: flex;
    width: 100%;
    background-color: #A435F0;
} */

.landing-page{
    position: relative;
}
.content-box{
    position: absolute;
    top: 30%;
    left: 80px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 16px;
    width: 500px;
    height: 150px;
    animation: contentcardslide 2s ease-out;
    animation-fill-mode: forwards;
}
@keyframes contentcardslide {
    0%{
        margin-left: -500px;
    }
    100%{
        margin-left: 0px;
    }
    
}
.landing-page img{
    justify-content: center;
    width: 100%;
    height: auto;
}

.recommendation{
    margin-top: 80px;
    padding: 20px;
}
.recommendation__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    /* margin-top: 10px; */
}
.recommendation__card{
    flex-grow: 1;
    width: 250px;
    padding: 10px;
    margin-top: 20px;
    background-color: black;
    color: white;
    
  transition: transform .2s; /* Animation */
}

.recommendation__card:hover{
    transform: scale(1.1);
    filter: drop-shadow(3px 3px 20px black);
    
}
.recommendation__card img{
    width: 100%;
    
}
/* .recommendation__card-title{
    margin-bottom: 10px;
} */
 .recommendation__card-author{
    color: grey;
 }
 .price{
    margin-top: 8px;
 }
.button{
    width: 100%;
    margin-top: 8px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding: 10px 14px;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}
.button:hover{
    background-color:#7a02ad;
}

.topics{
    margin-top: 80px;
    padding: 20px;
}
.topics__container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 10px;
}
.topics__container p{
    flex-grow: 1;
    flex-basis: 25%;
    border: 1px solid grey;
    padding: 20px;
    gap: 10x;
}

.popular_courses{
    padding: 20px;
}

/* footer */
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 20px;
    background-color: black;
    color: white;
}
.footer__s1{
    display: flex;
}
.footer__s1 p{
    padding: 10px;
}
.footer__s2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.footer__s2-logo{
    color: rgb(179, 97, 255);
}